
.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: animation 2s;  

/*    z-index: 9999;*/
    &::after{
    content: "";
    width: 16em;
    height: 16em;
    border: 18px dotted #FF79DA;
    border-top-color: #9356DC;
    border-right-color: #FF79DA;
    border-bottom-color: #9356DC;
    border-radius: 50%;
    
    animation: loading 2s ease-in-out 100ms forwards;
/*    animation-fill-mode: forwards; */
}
    &--fullHeight{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: #383838;

    animation: loadingbg 50ms ease-in 1950ms forwards;
/*    animation-fill-mode: forwards;  */
    }
}

@keyframes loading {
    from{
        transform: rotate(-1turn);
        z-index: 9999;
       
    }
    to {
        transform: scale(2) rotate(1turn);
       /* z-index: -9999;*/
        opacity: 0;
    }
}  
@keyframes loadingbg {
    from{
/*        transform: translateX(0);*/
        z-index: 9999;  
    }
    to {
/*        transform: translateX(-9999px); */
        z-index: -9999;  
        opacity: 0;
    }
}

/*nav*/
$nav-bgcolor: rgba(0, 0, 0, .10);
.nav{
    height: 3rem;
    @include flex;

    &--bgcolor{
        background-color: $nav-bgcolor;
    }
    &__icon--color{
        color: rgba(0, 0, 0, .75);
    }
    &__searchfield{
        margin-left: 1rem;
        height: 100%;
        &--border{
            border: 1px solid $nav-bgcolor;
            outline: none;
            &:active{
                border: 1px solid #fff;  /* ca ne marche pas???*/
            }
            &:focus{
                border: 1px solid #fff;  /* ca ne marche pas???*/
            }
        }
        &--size{
            background-color: transparent;
            height: 100%;
            width: 200px;  
        }
        &--bgcolor{
            background-color: transparent;
        }
    }
}

/*aside*/
$paddingMain: 50px 20px 50px 20px;
$btn-border-radius: 20px;


.aside{
    @include flexColumn();

    &--bgcolor{
        background-color: #f2f2f2;
    }
    &--padding{
        padding: $paddingMain;
    }
    &--text-align{
        text-align: center;
    }
    &__title{
        width: 75%;
        &--margin{
            margin: 0;
        }
    }

    &__button{
        color: #fff;
        cursor: pointer;
        @include flex();
        
            /*  &::after normally works too*/
  /*      &--color{ 
            background-image: linear-gradient(to bottom right,#FF79DA 0%, #9356DC 100%);
            &:hover{
                opacity: 1;
                background-image: linear-gradient(to bottom right, lighten(#FF79DA, 5) 0%, lighten(#9356DC, 5) 100%);
            }
        }    */
        &--color{
            background-image: linear-gradient(to bottom right, $color-secondary 0%, $color-primary 100%);     
            &:hover{
                background-image: linear-gradient(to bottom right, lighten($color-secondary, 5) 0%, lighten($color-primary, 5) 100%);  
                opacity: 1;    
            }
        }
        &--shape{
            width: 180px;
            height: 2.5rem;
            border-radius: $btn-border-radius;
            border: none;
            text-decoration: none;
            padding: 0px 10px;
        }        
        &--shadow{
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            transition: opacity 300ms 50ms;
            &:hover{
                opacity: 1;
                box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.39);
            }
        }
    }
}

/*article*/
/*$paddingMain: (50px 20px 50px 20px);*/


.block-howto{
    @include flexColumn;

    @media all and (min-width:1024px) {
        flex-direction: row;
    }
    
    &--padding{
        padding: $paddingMain; /*same as aside*/
    }
    &__card{
        @include flex($justifyCo-fstart);
        cursor: pointer;
        
        transition: transform 400ms 50ms;
        &--bgcolor{
            background-color: #f2f2f2;
            &:hover{
                background-color: lighten($color: $color-primary, $amount: 35);
                transform: scale(0.95);
                opacity: 1;
                & +.block-howto__icon--color{
                    opacity: 1;
                    color: $color-primary;  /*dosnt work?*/
                }
            }
        }
        &--shape{
            width: 350px;
            max-width: 90%;
            height: 4.5rem;
            border-radius: 20px;
            border: none;
        @media all and (min-width:1024px) {
            width: 270px;
        }
        
        } 
        &--shadow{
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
        }
        &--margin{
            margin: 20px 0 20px 0;
        }
    }
    &__number{
        &--color{
        background-color: #9356DC;
        color: #fff;
        }
        &--shape{
            width: 1.1rem;
            height: 1.5rem;
            border-radius: 50%;
            padding-top: 5px;
            padding-left: 9px;
        }
        &--margin{
            margin-left: -15px;
        }
    }
    &__icon{

        &--color{
            color: rgba(0, 0, 0, .75);        
        }
        &--margin{
            margin: 0 20px 0 20px;

        }
    }
}
    

/*section restaurants*/
/*$paddingMain: (50px 20px 50px 20px);*/
$card-border-radius: 20px;



.art{
    &--bgcolor{
        background-color: #f2f2f2;
    }
    &--padding{
        padding: $paddingMain;    
    }
    &--flex{
        @include flex();
        flex-wrap: $flex-wrap;
    }
    &__card{
        @include flexColumn($justifyCo-fstart);
        flex-wrap: $flex-wrap;

        &--shape{
            width: 94%;
            height: 300px;
            border-radius: $card-border-radius;

            @media all and (min-width:1024px) { /* tabllete768?*/
                width: 40%;
                height: 350px;
            }
        }
        &--bgcolor{
            background-color: #fff;
        }
        &--margin{
            margin: 0px 20px 20px 0px;
        }
        &--imgsize{
            width: 100%;
            height: 75%;
            object-fit: cover;
            border-radius: $card-border-radius $card-border-radius 0 0;
        }
        &--text{
            width: 90%;
            display: flex;
            margin-left: 15px;
            margin-top: 10px;

            transition: transform 330ms 50ms;
            &:hover{             
                cursor: pointer;
                transform: scale(1.05);
            }
        }
        &--textmargin{
            margin: 0;
        }
        &--textdeco{
            text-decoration: none;
            list-style-type: none;
            color: #000;
        }
        &--textdeco a{
            color: #000;
        }
        &--iconmargin{
            margin-left: auto;
        }
        &--icon{
            @include flex;
            /*position exactry the same place*/
            position: relative;
            height: 45px;

            transition: transform 500ms ease-out;
            &:hover{
                cursor: pointer;
                transform: scale(1.2);
            }
            /*
            &:hover + .art__card--iconNocolor{
                
            }/*
            &:active + .art__card--iconcolor{
                opacity: 1;
                cursor: pointer;
                transform: scale(1.2);
            } */
        }
        &--iconposition{
            position: absolute;
            right: 1rem;  
        }
        &--iconNocolor{
           /* transform-origin: center;*/
           /* transform: scale(1);*/       
            transition: opacity 350ms 100ms;
            &:hover{
                transform: scale(1.2);
                opacity: 0;
            }
        }
        &--iconcolor{
            opacity: 0;
            color: #FF79DA;
/*            transform-origin: right bottom;*/
            transition: opacity 1000ms ease-in 40ms;
            &:hover{
                opacity: 0.8;
               
            }
        }
    }
}