/*$fontfamily-text: Roboto, sans-serif;
$fontfamily-logoTitle: Shrikhand, serif;

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-base: #f2f2f2;

$width: device-width;



body{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;} /* $fontfamily-text;  */
/*
h2{
    font-family: Shrikhand, serif;} /* $fontfamily-logoTitle; */

    /*header*//*
$position: center;
$default: stretch;
$justifyCo-center: center;
$justifyCo-fstart: flex-start; /*default value*//*
$justifyCo-saround: space-around;

$flex-wrap: wrap;

@mixin flex($justifyCo: $justifyCo-center){
    display: flex;
    justify-content: $justifyCo;
    align-items: $position;
}
@mixin flexColumn($justifyCo: $justifyCo-saround, $align-item: $position){
    display: flex;
    flex-direction: column;
    justify-content: $justifyCo;
    align-items: $align-item;
}
*/

.header{
    width: 100%;
    @include flex;

    &__logo{
        min-width: 220px;
        max-width: 20%;
        height: auto;
        padding: 20px 20px 20px 20px;
        &--order{
            order: 2;
        }
    }
    &__icon{
        cursor: pointer;
        &--color {
            color: #000;
        }
        &--color a{   /*doesnt work today*/
            color: #000;
        }
        &--order{
            order: 1;
        }
        &--padding{
            padding-right: 1rem;
        }        
    }
}

/*div img*/
.catchyimg{
    background-image: url("../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
    background-size: cover;
    background-position: center;
    &--size{
        width: 100%; 
        height: 14rem;
        @media all and (min-width:1024px){
            height: 18rem; 
        }
    }
}

/*article*/

.art{
    margin-top: -40px;
    padding-bottom: 50px;

/*    animation: 800ms 250ms both;*/
    &:hover + .secEntrees{
        opacity: 1;    
        transform: translateY(0);
    }
    &:hover + .secPlats{
        opacity: 0;    
        transform: translateY(150%);
    }
    &:hover + .secDesserts{
        opacity: 0;    
        transform: translateY(200%);
    }



    &--bgcolor{
        background-color: #f2f2f2; /*background doesnt wanna be on top*/
    }
    &--border{
        border-radius: 50px 50px 0 0;
    }
    &__header{
        @include flex($justifyCo-saround);


    }
/*article order button at the bottom of page*/

    &__buttonarea{
        @include flex();
    }
    &__button{
        @include flex();
        color: #fff;
        cursor: pointer;   
        transition: transform 300ms 50ms;
        &--color{
            background-image: linear-gradient(to bottom right, $color-secondary 0%, $color-primary 100%);     
            &:hover{
                background-image: linear-gradient(to bottom right, lighten($color-secondary, 5) 0%, lighten($color-primary, 5) 100%);  
                opacity: 1;    
            }
        }/*
        &::after{
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;

            background-image: linear-gradient(to bottom right, lighten($color-secondary,50) 0%, lighten($color-primary,50) 100%);
            opacity: 0;
            z-index: -1;
            transition: opacity 250ms;             
        }*/
        &--shape{
            width: 180px;
            height: 2.5rem;
            border-radius: 20px;
            border: none;
            text-decoration: none;
        }

        &--shadow{
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            transition: opacity 300ms 50ms;
            &:hover{
                opacity: 1;
                box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.39);
            }
        }


    } 
} 

/*appears block by block*/

.secEntrees{
    transform: translateY(50%); 
    transform-origin: bottom;
    opacity: 0; 
    transition: all 2000ms ease-in-out 50ms; 
    
}
.secPlats{
    transform: translateY(0);
    transform-origin: bottom;
    opacity: 1; 
    transition: all 2500ms ease-in-out 100ms;
    
}
.secDesserts{
    transform: translateY(0);
    transform-origin: bottom;
    opacity: 1; 
    transition: all 3000ms ease-in-out 180ms;

}




/*section*/
$fontweight-secTitle: 500;
@mixin secTitle($fontweight: $fontweight-secTitle){
    text-transform: uppercase;
    font-weight: $fontweight;
    font-size: 1.3em;
}

$textDeco-shortline: underline $color-tertiary 3px; 
@mixin underlineDeco($textDeco: $textDeco-shortline){
    font-style: normal;
    text-decoration: $textDeco;
}

/*$card-transition: ;  */
$card-transitionorigin: right;
$card-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.19); 
@mixin secCard {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 15px;

    transition: transform 200ms ease-in 50ms; /*transition in parent part*/
    transform-origin: $card-transitionorigin;

    box-shadow: $card-shadow;
}
@mixin checkicon{
    background-color: $color-tertiary;  
    height: 100%;
    color: #fff;
    margin-left: auto;
    padding: 0 15px 0 15px;
    border-radius: 0 15px 15px 0;
}



/*section cards positon setting*/
.sec{
    &--position{
    position: relative;
    min-height: 280px;
    }
    /*title deco*/
    &__title{    
        @include secTitle();

        padding-left: 8px;
        &--border{ 
            @include underlineDeco();
        }
    }

    &__card{
        @include secCard;
        cursor: pointer;
        transition: transform 500ms ease-in 50ms;
/*        &:hover + .sec__card--checked{
            transform: scale(1.2);
            opacity: 1;
        }
*/

        height: auto;
        @media all and (max-width:370px) {
            height: 81px;
            }

        &--1stposition{
        position: absolute;
        top: 40px;
        width: 95%;
        }
        &--2ndposition{
        position: absolute;
        top: 110px;
        width: 95%;
        @media all and (max-width:370px) {
            top: 128px;
            }
        }
        &--3rdposition{
        position: absolute;
        top: 180px;
        width: 95%;
        @media all and (max-width:370px) {
            top: 195px;
            }
        }        
        &--notchecked{
            z-index: 1;
        }
        &--notcheckedSize{
            width: 100%;
            padding-right: 20px;
        }
        &--checked{
            z-index: 2;
/*          visibility: collapse;*/
            opacity: 0;  

            transform: translateX(100%);
            transform-origin: right 50%;
            transition: all 330ms ease-in 50ms;
            &:hover{
                transform: translateX(0);
                opacity: 1;
            }
        }
        &--margin{
            margin: 0 5px 0 5px
        }
        &--textmargin{
            margin: 0;
            display: flex;
        }
        &--pricemargin{
            margin-left: auto;
        }
        &--textflex{
            @include flexColumn($justifyCo-saround, $default);
            overflow: hidden;
            width: 100%;
        }
        &--textwrap{
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        
        &--padding{
            padding: 10px;
        }
        &--textareasize{
            min-width: 75%
        }
        &--check{
            @include checkicon;
            @include flex();
        }
    }
}