/*
@import "./utils/functions";
@import "./utils/mixins";
@import "./utils/placeholders";
@import "./utils/extensions";   /*maybe you dont need*//*

@import "./vendors";

@import "./base/base";
@import "./base/typography";

@import "./components/buttons";

@import "./layouts/header";
@import "./layouts/nav";
@import "./layouts/container";
@import "./layouts/form";

@import "./pages/work";
@import "./pages/about";
@import "./pages/project";

@import "./themes";

*/


/*general*/
$fontfamily-text: 'Roboto', sans-serif;
$fontfamily-logoTitle: 'Shrikhand'/*, cursive*/;

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-base: #f2f2f2;

$width: device-width;
/*
.  -typograhy{
    font-size: 1em;
    font-style: italic;
    color: blue;
}*/
body{
    margin: 0;
    padding: 0;    
    font-family: $fontfamily-text;
}

$position: center;
$default: stretch;
$justifyCo-center: center;
$justifyCo-fstart: flex-start; /*default value*/
$justifyCo-saround: space-around;

$flex-wrap: wrap;

@mixin flex($justifyCo: $justifyCo-center){
    display: flex;
    justify-content: $justifyCo;
    align-items: $position;
}
@mixin flexColumn($justifyCo: $justifyCo-saround, $align-item: $position){
    display: flex;
    flex-direction: column;
    justify-content: $justifyCo;
    align-items: $align-item;
}

/*header*/
.header{
    width: 100%;
    @include flex;

    box-shadow: 1px 0 0 0 #383838;  /*??????????????*/
    &__logo{
        min-width: 220px;
        max-width: 20%;  
        height: auto;

        padding:  20px 20px 20px 20px;
        @media all and (min-width:1024px) {
            width: 30%;
        }
    }
}

/*footer*/
$footerTextcolor: #fff;


.footer{
    & h2{
        font-family: $fontfamily-logoTitle;  
    }
    &--textmargin{
    margin: 0;
    }
    &--textcolor {
        color: $footerTextcolor;
    }
    &--textcolor a {
        color: $footerTextcolor;
    }
    &--bgcolor{
        background-color: #484848;
    }
    &--padding{
        padding: 30px 0 56px 18px;
    }
    &__list{
        @media all and (min-width:1024px) { /*maybe not working*/
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
        &--deco{
        text-decoration: none;
        list-style-type: none;
        }
        &--padding{
            padding: 5px 0 5px 0;
        }
    }
    &__listicon{
        &--width{
            width: 26px;
        }
    }
}

@import "_index";/*
@import "_menu-aLaFrancaise";*/
@import "_menu-laNoteEnchantee";
/*@import "_menu-laPaletteDuGout";
@import "_menu-leDeliceDesSens";*/