/*copy from main.scss

$fontfamily-text: "Roboto", sans-serif;
$fontfamily-logoTitle: Shrikhand, serif;

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-base: #f2f2f2;

*/
body{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif; /* $fontfamily-text;  */
}
h2{
    font-family: Shrikhand, serif; /* $fontfamily-logoTitle; */
    text-transform: uppercase;
}

/*

@mixin flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin flexColumn {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: $position;
}
*/

/*header*/
.header{
    width: 100%;
}
.header{
       /*    @include flex;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__logo{
        width: 220px; 
        height: auto;

        padding: 20px 20px 20px 20px;
}
/*nav*/
.nav{
    height: 3rem;

    background-color: rgba(0, 0, 0, .10);

    display: flex;
    justify-content: center;
    align-items: center;
}
.nav--bordershadow{
    border-top:rgba(0, 0, 0, .10);
    box-shadow: ;
}
.nav__icon--color{
    color: rgba(0, 0, 0, .75);
}
.nav__searchfield{
    margin-left: 1rem;

}
.nav__searchfield--border{
    border: none;
}
.nav__searchfield--bgcolor{
    background:rgba(0, 0, 0, .03);  /*??????????????*/  
}

/*aside*/

.aside{
    background-color: #f2f2f2;

}

.aside__button--color{
            background-color:#9356DC;/* $color-primary;*/
            background-image: liner-gradient(-45deg, $colo 0%, $colo 100%);*/
            color: #fff;
}
        
.aside__button--shadow{
            box-shadow: 1px 1px 1px #f2f2f2;  /*$color-base;*/
}



/*article*/
$card-border-radius: 20px;

.art{
    /*
    @include flexColumn
*/
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    background-color: $color-base;

    &__card{
        width: 90%;
        height: auto;
        border-radius: $card-border-radius;
        &--imgsize{
            width: 100%;
            height: 120px;
            object-fit: cover;
            border-radius: $card-border-radius $card-border-radius 0 0;
        }
        &--text{
            width: 90%;
            display: flex;
        }
        &--iconcolor{
            margin-left: auto;
            margin-right: 5px;
        }
    }
    
}