/*copy from main.scss

$fontfamily-text: "Roboto", sans-serif;
$fontfamily-logoTitle: Shrikhand, serif;

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-base: #f2f2f2;

*/
body{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif; /* $fontfamily-text;  */
}
h2{
    font-family: Shrikhand, serif; /* $fontfamily-logoTitle; */
}

/*

@mixin flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin flexColumn {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
*/

/*header*/
.header{
    width: 100%;
}
.header{
       /*    @include flex;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__logo{
        width: 220px; 
        height: auto;

        padding: 20px 20px 20px 20px;
}
/*nav*/
.nav{
    height: 3rem;

    background-color: rgba(0, 0, 0, .10);
       /*    @include flex;*/
       display: flex;
       justify-content: center;
       align-items: center;
   
}
.nav--bordershadow{
    border-top:rgba(0, 0, 0, .10);
    box-shadow: ;   /*???????????????*/
}
.nav__icon--color{
    color: rgba(0, 0, 0, .75);
}
.nav__searchfield{
    margin-left: 1rem;
    height: 100%;
}
.nav__searchfield--border{
    border: none;

}

.nav__searchfield--size{
    background:rgba(0, 0, 0, .03);  /*??????????????*/
    height: 100%;
    width: 200px;  
}


/*aside*/

.aside{
    /*    @include  flexColumn */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;  
}
.aside--bgcolor{
    background-color: #f2f2f2;
}
.aside--padding{
    padding: 50px 20px 50px 20px;
}
.aside--text-align{
    text-align: center;
}
.aside__title{
    width: 75%;
}
.aside__title--margin{
    margin: 0;
}
.aside__button{
    cursor: pointer;
}
.aside__button--color{
    background-image: linear-gradient(to bottom right, #FF79DA 0%, #9356DC 100%);
    color: #fff;
}

.aside__button--shape{
    width: 180px;
    height: 2.5rem;
    border-radius: 20px;
    border: none;
    text-decoration: none;
}        
.aside__button--shadow{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
}



/*article*/
.block-howto{
    /*    @include  flexColumn */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;  

}
.block-howto--padding
{
    padding: 50px 20px 50px 20px; /*same as aside*/
}
.block-howto__card{
       /*  @mixin flex(????? $justifyCo: $justifyCo-center);
           @include flex(?????$justifyCo-fstart); change from default 
       */
       display: flex;
       justify-content: flex-start; /*for here*/
       align-items: center;
}


.block-howto__card--bgcolor{
    background-color: #f2f2f2;
}

.block-howto__card--bgcolor:active{
    background-color: #9356DC; /*opacity* on backcolor not on everything*/
    opacity: 0.2;

}

.block-howto__card--shape{
    width: 350px;
    height: 4.5rem;
    border-radius: 20px;
    border: none;
}   
.block-howto__card--shadow{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
}
.block-howto__card--margin{
    margin: 20px 0 20px 0;
}
.block-howto__number--color{
    background-color: #9356DC;
    color: #fff;
}
.block-howto__number--shape{
    width: 1.1rem;
    height: 1.5rem;
    border-radius: 50%;
    padding-top: 5px;
    padding-left: 9px;
}
.block-howto__number--margin{
    margin-left: -15px;
}
.block-howto__icon--color{
    color: rgba(0, 0, 0, .75);
}

.block-howto__icon--color:active{
    background-color: #9356DC; /*opacity* on backcolor not on everything*/
    opacity: 0.2;

}
.block-howto__icon--margin{
    margin: 0 20px 0 20px;
}




/*section restaurants
$card-border-radius: 20px;
*/
.art--bgcolor{
    background-color: #f2f2f2;
}
.art--padding{
    padding: 50px 20px 50px 20px;    
}

.art--flex{
    /*  @include flexColumn*/
  /*  display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
*/
  /*    @include flex;*/
display: flex;
justify-content: center;
align-items: center;

flex-wrap: wrap;
}
.art__card{
            /* @include flexColumn without justCo*/
    display: flex;
    flex-flow: column wrap;
/*    justify-content: space-around;*/

}
.art__card--shape{
    width: 94%;
    height: 300px;
    border-radius: 20px;
}/* tabllete
@media {
    width: 40%;
    height: 350px;
}*/
.art__card--bgcolor{
    background-color: #fff;
}
.art__card--margin{
    margin: 0px 20px 20px 0px;
}

.art__card--imgsize{
            width: 100%;
            height: 75%;
            object-fit: cover;
            border-radius: 20px 20px 0 0;
}
.art__card--text{
            width: 90%;
            display: flex;
            margin-left: 15px;
            margin-top: 10px;
}
.art__card--textmargin{
    margin: 0;
}
.art__card--iconmargin{

            margin-left: auto;
    
}
.art__card--icon{
/*position exactry the same place*/
}
.art__card--icon:hover{
    cursor: pointer;
}
.art__card--iconcolor{
    opacity: 0;
    color: #FF79DA;
}
.art__card--icon:active{
    display: none;
}
.art__card--iconcolor{
    opacity: 1;
}


/*footer*/
.footer--textcolor{
    color: #fff;
}
.footer--bgcolor{
    background-color: #484848;
}
.footer--padding{
    padding: 30px 0 30px 10px;
}
.footer__list--deco{
    text-decoration: none;

}
.footer__list--padding{
    padding: 10px 0 0 20px;
}