body{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif; /* $fontfamily-text;  */
}
h2{
    font-family: Shrikhand, serif; /* $fontfamily-logoTitle; */
}


/*header*/
.header{
    width: 100%;
}
.header{
       /*    @include flex;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__logo{
        width: 220px; 
        height: auto;

        padding: 20px 20px 20px 20px;
}
.header__logo--order{
        order: 2;
}
.header__icon{

    cursor: pointer;
}
.header__icon--order{
    order: 1;
}
.header__icon--padding{
    padding-right: 1rem;
}

/*div img*/
.catchyimg{
    object-fit: cover;
   
}
.catchyimg--size{
    width: 100%;
    height: 10rem;

/*@media 
    height: 18rem;  */
}


/*article*/

.art{
    margin-top: -40px;
    padding-bottom: 50px;
} 
.art--bgcolor{
    background-color: #f2f2f2; /*background doesnt wanna be on top*/
}
.art--border{
    border-radius: 20px 20px 0 0;
}
.art__header{
    
    /*@include flex($justifyCo-saround);  */
        display: flex;
        justify-content: space-around; 
        align-items: center;
}
/*section*/
/*

$fontweight-secTitle: 500;
@mixin secTitle($fontweight: $fontweight-secTitle){
    text-transform: uppercase;
    font-weight: $fontweight;
    font-size: 1.3em;
}

$textDeco-shortline: underline $color-tertiary 3px; 
@mixin underlineDeco($textDeco: $textDeco-shortline){
    font-style: normal;
    text-decoration: $textDeco;
}
*/

.secEntrees{  /*appears block by block*/

}
.secPlats{

}
.secDesserts{}


/*section cards positon setting*/
.sec--position{
    position: relative;
    min-height: 280px;
}
.sec__card--1stposition{
    position: absolute;
    top: 40px;
    width: 95%;
}
.sec__card--2ndposition{
    position: absolute;
    top: 110px;
    width: 95%;
}
.sec__card--3rdposition{
    position: absolute;
    top: 180px;
    width: 95%;
}

/**/
.sec__title{    /*@include secTitle(); */
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.3em;

    padding-left: 8px;
}
.sec__title--border{ /*@mixin underlineDeco(); */
    font-style: normal;
    text-decoration: underline #99e2d0 3px;
}


.sec__card{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 15px;
    transition: transform 200ms ease-in 50ms; /*transition in parent part*/
    transform-origin: right;
    /*--shadow{*/
        box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.19);  
    
}

.sec__card:hover + .sec__card--checked {
    transform: translate(100px, 0);
}

.sec__card--notchecked{
    z-index: 1;
}
.sec__card--notcheckedSize{
    width: 100%;
    padding-right: 20px;
}
.sec__card--checked{
    z-index: 2;
    visibility: collapse;
 /*   opacity: 0;    /*0 no display ,1 display on*/

}



.sec__card--margin
{
    margin: 0 5px 0 5px
}
.sec__card--textmargin{
    margin: 0;
    display: flex;
}
.sec__card--pricemargin{
    margin-left: auto;
}
.sec__card--textflex{
   /* @mixin flexColumn();   */
        display: flex;
        flex-direction: column;
        justify-content: space-around;
      /*  align-items: center;  /*remove*/
}
.sec__card--padding{
    padding: 10px;
}
.sec__card--textareasize{
    min-width: 75%
}
/*
@mixin checkicon{
    background-color: $color-tertiary;  
    height: 100%;
    color: #fff;
    margin-left: auto;
    padding: 0 15px 0 15px;
    border-radius: 0 15px 15px 0;
}
*/
.sec__card--check{
    /*@include checkicon; */
    background-color: #99e2d0;  /*$color-tertiary*/
    height: 100%;
    color: #fff;
    margin-left: auto;
    padding: 0 15px 0 15px;
    border-radius: 0 15px 15px 0;

  /*@include flex();  */
  display: flex;
  justify-content: center; 
  align-items: center;


}

/*article order button*/
.art__buttonarea{
      /*@include flex();  */
    display: flex;
    justify-content: center;
    align-items: center;
}

.art__button{
  /*@include flex();  */
  display: flex;
  justify-content: center; 
  align-items: center;

    cursor: pointer;
}
.art__button--color{
    background-image: linear-gradient(to bottom right, #FF79DA 0%, #9356DC 100%);
    color: #fff;
}

.art__button--shape{
    width: 180px;
    height: 2.5rem;
    border-radius: 20px;
    border: none;
    text-decoration: none;
}        
.art__button--shadow{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
}


/*footer*/

.footer--textmargin{
    margin: 0;
}
.footer--textcolor {
    color: #fff;
}
.footer--textcolor a {
    color: #fff;
}
.footer--bgcolor{
    background-color: #484848;
}
.footer--padding{
    padding: 30px 0 30px 18px;
}
.footer__list--deco{
    text-decoration: none;
    list-style-type: none;
}
.footer__list--padding{
    padding: 5px 0 5px 0;
}