body{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif; /* $fontfamily-text;  */
}
h2{
    font-family: Shrikhand, serif; /* $fontfamily-logoTitle; */
}


/*header*/
.header{
    width: 100%;
}
.header{
       /*    @include flex;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__logo{
        width: 220px; 
        height: auto;

        padding: 20px 20px 20px 20px;

        order: 2;
}
.header__icon{
    order: 1;
}
.header__icon--padding{
    padding-right: 1rem;
}

/*div img*/
.catchyimg{
    object-fit: cover;
    z-index: 1;
}
.catchyimg--size{
    width: 100%;
    height: 10rem;

/*@media 
    height: 18rem;  */
}


/*article*/

.art{
    margin-top: -40px;
    z-index: 2;
} 
.art--bgcolor{
    background-color: #f2f2f2; /*background doesnt wanna be on top*/
}
.art--border{
    border-radius: 20px 20px 0 0;
}
.art__header{
    z-index: 3;
    /*@include flex($justifyCo-saround);  */
        display: flex;
        justify-content: space-around; 
        align-items: center;
    

}
/*section*/
/*

$fontweight-secTitle: 500;
@mixin secTitle($fontweight: $fontweight-secTitle){
    text-transform: uppercase;
    font-weight: $fontweight;
}

$textDeco-shortline: underline $color-tertiary 3px; 
@mixin underlineDeco($textDeco: $textDeco-shortline){
    font-style: normal;
    text-decoration: $textDeco;
}
*/

.secEntrees{  /*appears block by block*/

}


.sec__title{    /*@include secTitle(); */
    text-transform: uppercase;
    font-weight: 500;
}
.sec__title--border{ /*@mixin underlineDeco(); */
    font-style: normal;
    text-decoration: underline #99e2d0 3px;
}


.sec__card{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 15px;
}
/*
.sec__card:active .sec__card--check {


*/
.sec__card--margin
{
    margin: 10px 5px 10px 5px
    
}
.sec__card--textmargin{
    margin: 0;
    display: flex;
}
.sec__card--pricemargin{
    margin-left: auto;
}
.sec__card--textflex{
   /* @mixin flexColumn();   */
        display: flex;
        flex-direction: column;
        justify-content: space-around;
      /*  align-items: center;  /*remove*/
}
.sec__card--padding{
    padding: 10px;
}
/*
@mixin checkicon{
    opacity: 0; 
    background-color: $color-tertiary;  
    height: 100%;
    color: #fff;
    margin-left: auto;
    padding: 0 15px 0 15px;
    border-radius: 0 15px 15px 0;
}
If it's :active, opacity 1 and show it.





*/
.sec__card--check{
    /*@include checkicon; */
    opacity: 0; /*0 no display ,1 display on*/
    background-color: #99e2d0;  /*$color-tertiary*/
    height: 100%;
    color: #fff;
    margin-left: auto;
    padding: 0 15px 0 15px;
    border-radius: 0 15px 15px 0;

  /*@include flex();  */
  display: flex;
  justify-content: center; 
  align-items: center;


}
