/*
@import "./utils/functions";
@import "./utils/mixins";
@import "./utils/placeholders";
@import "./utils/extensions";   /*maybe you dont need*/
/*

@import "./vendors";

@import "./base/base";
@import "./base/typography";

@import "./components/buttons";

@import "./layouts/header";
@import "./layouts/nav";
@import "./layouts/container";
@import "./layouts/form";

@import "./pages/work";
@import "./pages/about";
@import "./pages/project";

@import "./themes";

*/
/*general*/
/*, cursive*/
/*
.  -typograhy{
    font-size: 1em;
    font-style: italic;
    color: blue;
}*/
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

/*default value*/
/*header*/
.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 1px 0 0 0 #383838;
          box-shadow: 1px 0 0 0 #383838;
  /*??????????????*/
}

.header__logo {
  min-width: 220px;
  max-width: 20%;
  height: auto;
  padding: 20px 20px 20px 20px;
}

@media all and (min-width: 1024px) {
  .header__logo {
    width: 30%;
  }
}

/*footer*/
.footer h2 {
  font-family: "Shrikhand";
}

.footer--textmargin {
  margin: 0;
}

.footer--textcolor {
  color: #fff;
}

.footer--textcolor a {
  color: #fff;
}

.footer--bgcolor {
  background-color: #484848;
}

.footer--padding {
  padding: 30px 0 56px 18px;
}

@media all and (min-width: 1024px) {
  .footer__list {
    /*maybe not working*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer__list--deco {
  text-decoration: none;
  list-style-type: none;
}

.footer__list--padding {
  padding: 5px 0 5px 0;
}

.footer__listicon--width {
  width: 26px;
}

.loading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: -webkit-animation 2s;
  transition: -webkit-animation 2s;
  transition: animation 2s;
  transition: animation 2s, -webkit-animation 2s;
  z-index: 9999;
}

.loading::after {
  content: "";
  width: 16em;
  height: 16em;
  border: 18px dotted #FF79DA;
  border-top-color: #9356DC;
  border-right-color: #FF79DA;
  border-bottom-color: #9356DC;
  border-radius: 50%;
  -webkit-animation: loading 2s ease-in-out 100ms forwards;
          animation: loading 2s ease-in-out 100ms forwards;
  /*    animation-fill-mode: forwards; */
}

.loading--fullHeight {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #383838;
  z-index: 9999;
  -webkit-animation: loadingbg 50ms ease-in 1950ms forwards;
          animation: loadingbg 50ms ease-in 1950ms forwards;
  /*    animation-fill-mode: forwards;  */
}

@-webkit-keyframes loading {
  from {
    -webkit-transform: rotate(-1turn);
            transform: rotate(-1turn);
    z-index: 9999;
  }
  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
    /* z-index: -9999;*/
    opacity: 0;
  }
}

@keyframes loading {
  from {
    -webkit-transform: rotate(-1turn);
            transform: rotate(-1turn);
    z-index: 9999;
  }
  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
    /* z-index: -9999;*/
    opacity: 0;
  }
}

@-webkit-keyframes loadingbg {
  from {
    /*        transform: translateX(0);*/
    z-index: 9999;
  }
  to {
    /*        transform: translateX(-9999px); */
    z-index: -9999;
    opacity: 0;
  }
}

@keyframes loadingbg {
  from {
    /*        transform: translateX(0);*/
    z-index: 9999;
  }
  to {
    /*        transform: translateX(-9999px); */
    z-index: -9999;
    opacity: 0;
  }
}

/*nav*/
.nav {
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav--bgcolor {
  background-color: rgba(0, 0, 0, 0.1);
}

.nav__icon--color {
  color: rgba(0, 0, 0, 0.75);
}

.nav__searchfield {
  margin-left: 1rem;
  height: 100%;
}

.nav__searchfield--border {
  border: 1px solid rgba(0, 0, 0, 0.1);
  outline: none;
}

.nav__searchfield--border:active {
  border: 1px solid #fff;
  /* ca ne marche pas???*/
}

.nav__searchfield--border:focus {
  border: 1px solid #fff;
  /* ca ne marche pas???*/
}

.nav__searchfield--size {
  background-color: transparent;
  height: 100%;
  width: 200px;
}

.nav__searchfield--bgcolor {
  background-color: transparent;
}

/*aside*/
.aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aside--bgcolor {
  background-color: #f2f2f2;
}

.aside--padding {
  padding: 50px 20px 50px 20px;
}

.aside--text-align {
  text-align: center;
}

.aside__title {
  width: 75%;
}

.aside__title--margin {
  margin: 0;
}

.aside__button {
  color: #fff;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*  &::after normally works too*/
  /*      &--color{ 
            background-image: linear-gradient(to bottom right,#FF79DA 0%, #9356DC 100%);
            &:hover{
                opacity: 1;
                background-image: linear-gradient(to bottom right, lighten(#FF79DA, 5) 0%, lighten(#9356DC, 5) 100%);
            }
        }    */
}

.aside__button--color {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(to bottom right, #FF79DA 0%, #9356DC 100%);
}

.aside__button--color:hover {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ff93e1), to(#a16be0));
  background-image: linear-gradient(to bottom right, #ff93e1 0%, #a16be0 100%);
  opacity: 1;
}

.aside__button--shape {
  width: 180px;
  height: 2.5rem;
  border-radius: 20px;
  border: none;
  text-decoration: none;
  padding: 0px 10px;
}

.aside__button--shadow {
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-transition: opacity 300ms 50ms;
  transition: opacity 300ms 50ms;
}

.aside__button--shadow:hover {
  opacity: 1;
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.39);
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.39);
}

/*article*/
/*$paddingMain: (50px 20px 50px 20px);*/
.block-howto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media all and (min-width: 1024px) {
  .block-howto {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.block-howto--padding {
  padding: 50px 20px 50px 20px;
  /*same as aside*/
}

.block-howto__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: -webkit-transform 400ms 50ms;
  transition: -webkit-transform 400ms 50ms;
  transition: transform 400ms 50ms;
  transition: transform 400ms 50ms, -webkit-transform 400ms 50ms;
}

.block-howto__card--bgcolor {
  background-color: #f2f2f2;
}

.block-howto__card--bgcolor:hover {
  background-color: #f2eafb;
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  opacity: 1;
}

.block-howto__card--bgcolor:hover + .block-howto__icon--color {
  opacity: 1;
  color: #9356DC;
  /*dosnt work?*/
}

.block-howto__card--shape {
  width: 350px;
  max-width: 90%;
  height: 4.5rem;
  border-radius: 20px;
  border: none;
}

@media all and (min-width: 1024px) {
  .block-howto__card--shape {
    width: 270px;
  }
}

.block-howto__card--shadow {
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.block-howto__card--margin {
  margin: 20px 0 20px 0;
}

.block-howto__number--color {
  background-color: #9356DC;
  color: #fff;
}

.block-howto__number--shape {
  width: 1.1rem;
  height: 1.5rem;
  border-radius: 50%;
  padding-top: 5px;
  padding-left: 9px;
}

.block-howto__number--margin {
  margin-left: -15px;
}

.block-howto__icon--color {
  color: rgba(0, 0, 0, 0.75);
}

.block-howto__icon--margin {
  margin: 0 20px 0 20px;
}

/*section restaurants*/
/*$paddingMain: (50px 20px 50px 20px);*/
.art--bgcolor {
  background-color: #f2f2f2;
}

.art--padding {
  padding: 50px 20px 50px 20px;
}

.art--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.art__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.art__card--shape {
  width: 94%;
  height: 300px;
  border-radius: 20px;
}

@media all and (min-width: 1024px) {
  .art__card--shape {
    /* tabllete768?*/
    width: 40%;
    height: 350px;
  }
}

.art__card--bgcolor {
  background-color: #fff;
}

.art__card--margin {
  margin: 0px 20px 20px 0px;
}

.art__card--imgsize {
  width: 100%;
  height: 75%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.art__card--imgarea {
  position: relative;
}

.art__card--imgnew {
  font-size: small;
  padding: 5px 10px;
  border-radius: 5%;
  background-color: #99E2D0;
  color: #1b6150;
  position: absolute;
  top: 1em;
  right: 1em;
}

.art__card--text {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 15px;
  margin-top: 10px;
  -webkit-transition: -webkit-transform 330ms 50ms;
  transition: -webkit-transform 330ms 50ms;
  transition: transform 330ms 50ms;
  transition: transform 330ms 50ms, -webkit-transform 330ms 50ms;
}

.art__card--text:hover {
  cursor: pointer;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.art__card--textmargin {
  margin: 0;
}

.art__card--textdeco {
  text-decoration: none;
  list-style-type: none;
  color: #000;
}

.art__card--textdeco a {
  color: #000;
}

.art__card--iconmargin {
  margin-left: auto;
}

.art__card--icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*position exactry the same place*/
  position: relative;
  height: 45px;
  -webkit-transition: -webkit-transform 500ms ease-out;
  transition: -webkit-transform 500ms ease-out;
  transition: transform 500ms ease-out;
  transition: transform 500ms ease-out, -webkit-transform 500ms ease-out;
  /*
            &:hover + .art__card--iconNocolor{
                
            }/*
            &:active + .art__card--iconcolor{
                opacity: 1;
                cursor: pointer;
                transform: scale(1.2);
            } */
}

.art__card--icon:hover {
  cursor: pointer;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.art__card--iconposition {
  position: absolute;
  right: 1rem;
}

.art__card--iconNocolor {
  /* transform-origin: center;*/
  /* transform: scale(1);*/
  -webkit-transition: opacity 350ms 100ms;
  transition: opacity 350ms 100ms;
}

.art__card--iconNocolor:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  opacity: 0;
}

.art__card--iconcolor {
  opacity: 0;
  color: #FF79DA;
  /*            transform-origin: right bottom;*/
  -webkit-transition: opacity 1000ms ease-in 40ms;
  transition: opacity 1000ms ease-in 40ms;
}

.art__card--iconcolor:hover {
  opacity: 0.8;
}

/*$fontfamily-text: Roboto, sans-serif;
$fontfamily-logoTitle: Shrikhand, serif;

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-base: #f2f2f2;

$width: device-width;



body{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;} /* $fontfamily-text;  */
/*
h2{
    font-family: Shrikhand, serif;} /* $fontfamily-logoTitle; */
/*header*/
/*
$position: center;
$default: stretch;
$justifyCo-center: center;
$justifyCo-fstart: flex-start; /*default value*/
/*
$justifyCo-saround: space-around;

$flex-wrap: wrap;

@mixin flex($justifyCo: $justifyCo-center){
    display: flex;
    justify-content: $justifyCo;
    align-items: $position;
}
@mixin flexColumn($justifyCo: $justifyCo-saround, $align-item: $position){
    display: flex;
    flex-direction: column;
    justify-content: $justifyCo;
    align-items: $align-item;
}
*/
.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  min-width: 220px;
  max-width: 20%;
  height: auto;
  padding: 20px 20px 20px 20px;
}

.header__logo--order {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.header__icon {
  cursor: pointer;
}

.header__icon--color {
  color: #000;
}

.header__icon--color a {
  /*doesnt work today*/
  color: #000;
}

.header__icon--order {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.header__icon--padding {
  padding-right: 1rem;
}

/*div img*/
.catchyimg {
  background-size: cover;
  background-position: center;
}

.catchyimg--1 {
  background-image: url("../../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}

.catchyimg--2 {
  background-image: url("../../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
}

.catchyimg--3 {
  background-image: url("../../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}

.catchyimg--4 {
  background-image: url("../../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}

.catchyimg--size {
  width: 100%;
  height: 14rem;
}

@media all and (min-width: 1024px) {
  .catchyimg--size {
    height: 18rem;
  }
}

/*article*/
.art {
  margin-top: -60px;
  padding-bottom: 50px;
  /*article order button at the bottom of page*/
}

.art--bgcolor {
  background-color: #f2f2f2;
  /*background doesnt wanna be on top*/
}

.art--border {
  border-radius: 50px 50px 0 0;
}

.art__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 35px;
}

.art__header h2 {
  font-family: "Shrikhand";
}

.art--iconmargin {
  margin-left: auto;
}

.art--icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*position exactry the same place*/
  position: relative;
  height: 45px;
  -webkit-transition: -webkit-transform 500ms ease-out;
  transition: -webkit-transform 500ms ease-out;
  transition: transform 500ms ease-out;
  transition: transform 500ms ease-out, -webkit-transform 500ms ease-out;
  /*
        &:hover + .art__card--iconNocolor{
            
        }/*
        &:active + .art__card--iconcolor{
            opacity: 1;
            cursor: pointer;
            transform: scale(1.2);
        } */
}

.art--icon:hover {
  cursor: pointer;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.art--iconposition {
  position: absolute;
  right: 1rem;
}

@media all and (max-width: 370px) {
  .art--iconposition {
    right: unset;
  }
}

.art--iconNocolor {
  /* transform-origin: center;*/
  /* transform: scale(1);*/
  -webkit-transition: opacity 350ms 100ms;
  transition: opacity 350ms 100ms;
}

.art--iconNocolor:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  opacity: 0;
}

.art--iconcolor {
  opacity: 0;
  color: #FF79DA;
  /*            transform-origin: right bottom;*/
  -webkit-transition: opacity 1000ms ease-in 40ms;
  transition: opacity 1000ms ease-in 40ms;
}

.art--iconcolor:hover {
  opacity: 0.8;
}

.art__buttonarea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}

@media all and (min-width: 1024px) {
  .art__buttonarea {
    margin-top: unset;
  }
}

.art__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  cursor: pointer;
  -webkit-transition: -webkit-transform 300ms 50ms;
  transition: -webkit-transform 300ms 50ms;
  transition: transform 300ms 50ms;
  transition: transform 300ms 50ms, -webkit-transform 300ms 50ms;
  /*
        &::after{
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;

            background-image: linear-gradient(to bottom right, lighten($color-secondary,50) 0%, lighten($color-primary,50) 100%);
            opacity: 0;
            z-index: -1;
            transition: opacity 250ms;             
        }*/
}

.art__button--color {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(to bottom right, #FF79DA 0%, #9356DC 100%);
}

.art__button--color:hover {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ff93e1), to(#a16be0));
  background-image: linear-gradient(to bottom right, #ff93e1 0%, #a16be0 100%);
  opacity: 1;
}

.art__button--shape {
  width: 180px;
  height: 2.5rem;
  border-radius: 20px;
  border: none;
  text-decoration: none;
}

.art__button--shadow {
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-transition: opacity 300ms 50ms;
  transition: opacity 300ms 50ms;
}

.art__button--shadow:hover {
  opacity: 1;
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.39);
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.39);
}

/*Relocate section @media*/
@media all and (min-width: 1024px) {
  .allsec {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

/*appears block by block*/
.secEntrees {
  -webkit-animation: showingup 1s ease-in forwards;
          animation: showingup 1s ease-in forwards;
}

@media all and (min-width: 1024px) {
  .secEntrees {
    width: 32%;
  }
}

.secPlats {
  -webkit-animation: showingup 600ms ease-in-out 400ms forwards;
          animation: showingup 600ms ease-in-out 400ms forwards;
}

@media all and (min-width: 1024px) {
  .secPlats {
    width: 32%;
  }
}

.secDesserts {
  /*    transform: translateY(0);
    transform-origin: top;
    opacity: 1; 
    transition: all 3000ms ease-in-out 180ms;
WITH :HOVER ....*/
  -webkit-animation: showingup 680ms ease-in-out 300ms forwards;
          animation: showingup 680ms ease-in-out 300ms forwards;
}

@media all and (min-width: 1024px) {
  .secDesserts {
    width: 32%;
  }
}

@-webkit-keyframes showingup {
  0% {
    -webkit-transform: translateY(150%);
            transform: translateY(150%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes showingup {
  0% {
    -webkit-transform: translateY(150%);
            transform: translateY(150%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

/*section*/
/*$card-transition: ;  */
/*section cards positon setting*/
.sec {
  /*???Doesnt work???*/
  /*title deco*/
}

.sec--position4cards {
  position: relative;
  min-height: 320px;
}

@media all and (max-width: 370px) {
  .sec--position4cards {
    min-height: 370px;
  }
}

.sec--position {
  position: relative;
  min-height: 280px;
}

.sec__title {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.3em;
  padding-left: 8px;
}

.sec__title--border {
  font-style: normal;
  -webkit-text-decoration: underline #99E2D0 3px;
          text-decoration: underline #99E2D0 3px;
}

.sec__card {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff;
  border-radius: 15px;
  -webkit-transition: -webkit-transform 200ms ease-in 50ms;
  transition: -webkit-transform 200ms ease-in 50ms;
  transition: transform 200ms ease-in 50ms;
  transition: transform 200ms ease-in 50ms, -webkit-transform 200ms ease-in 50ms;
  /*transition in parent part*/
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  -webkit-transition: all 500ms ease-in 50ms;
  transition: all 500ms ease-in 50ms;
}

@media all and (max-width: 370px) {
  .sec__card {
    height: 81px;
  }
}

.sec__card--1stposition {
  position: absolute;
  top: 40px;
  width: 95%;
}

@media all and (min-width: 1024px) {
  .sec__card--1stposition {
    top: 50px;
  }
}

.sec__card--2ndposition {
  position: absolute;
  top: 110px;
  width: 95%;
}

@media all and (max-width: 370px) {
  .sec__card--2ndposition {
    top: 125px;
  }
}

@media all and (min-width: 1024px) {
  .sec__card--2ndposition {
    top: 120px;
  }
}

.sec__card--3rdposition {
  position: absolute;
  top: 180px;
  width: 95%;
}

@media all and (max-width: 370px) {
  .sec__card--3rdposition {
    top: 210px;
  }
}

@media all and (min-width: 1024px) {
  .sec__card--3rdposition {
    top: 190px;
  }
}

.sec__card--4thposition {
  position: absolute;
  top: 250px;
  width: 95%;
}

@media all and (max-width: 370px) {
  .sec__card--4thposition {
    top: 295px;
  }
}

@media all and (min-width: 1024px) {
  .sec__card--4thposition {
    top: 260px;
  }
}

.sec__card--margin {
  margin: 0 5px 0 5px;
}

.sec__card--textmargin {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sec__card--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sec__card--pricemargin {
  padding-left: 5px;
  padding-top: 23px;
  /*            margin-left: auto;
            font-weight: 900; */
}

.sec__card--textflex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  overflow: hidden;
  width: 100%;
}

.sec__card--textwrap {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media all and (min-width: 1024px) {
  .sec__card--textwrapTb {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.sec__card--padding {
  padding: 10px 0 10px 10px;
}

.sec__card--flexBigblock {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.sec__card--flexBigblock:hover + .sec__card--pricecheckicon {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  width: 7em;
  opacity: 1;
}

.sec__card--flexBigblock:hover + .sec__card--checkicon {
  opacity: 1;
  width: 3em;
  -webkit-transform: translateX(0) scaleX(1);
          transform: translateX(0) scaleX(1);
}

.sec__card--pricecheckicon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: scale 700ms ease-in-out 100ms, opacity 440ms ease-in-out 50ms;
  transition: scale 700ms ease-in-out 100ms, opacity 440ms ease-in-out 50ms;
}

.sec__card--flexsmallblock {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0 15px 15px 0;
}

.sec__card--checkicon {
  height: 100%;
  color: #fff;
  background-color: #99E2D0;
  -webkit-transform: translateX(10%) scaleX(0.001);
          transform: translateX(10%) scaleX(0.001);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: scale 707.037ms cubic-bezier(0.38, 0.14, 0.43, 1) 50ms, translate 707.037ms cubic-bezier(0.38, 0.14, 0.43, 1) 50ms, opacity 468.679ms cubic-bezier(0.38, 0.14, 0.43, 1) 106.338ms;
  transition: scale 707.037ms cubic-bezier(0.38, 0.14, 0.43, 1) 50ms, translate 707.037ms cubic-bezier(0.38, 0.14, 0.43, 1) 50ms, opacity 468.679ms cubic-bezier(0.38, 0.14, 0.43, 1) 106.338ms;
}

.sec__card--checkicon:hover {
  opacity: 1;
  width: 3em;
  -webkit-transform: translateX(0) scaleX(1);
          transform: translateX(0) scaleX(1);
}

.sec__card--textareasize {
  min-width: 75%;
}
